.footer {
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: #000;
}
.content {
    width: 70%;
    margin: auto;
}

span{
    width: 100px;
    display: inline-block;
}